<!--Estimation des prix-->


			<section id="body">
				<div id="estimation">
					<div class="resume">
						<%= image_tag "fuite-machine.jpg" %>
						<div class="info">
							<h1>LE TUYAU DE VOTRE LAVE-LINGE/LAVE-VAISSELLE FUIT</h1>
							<div class="prix">
								<h3 class="left"> PRIX DE L'INTERVENTION <span>____..____</span> </h3>
								<h3 class="right"> ENTRE 100 et 150 € </h3>
							</div>

							<div class="prix">
									<h3 class="left" > TEMPS DE L'INERVENTION <span>__--__</span> </h3>
									<h3 class="right"> ENTRE 1 & 2 HEURES </h3>
							</div>
							<p>
								Un de nos plombiers te rappellera dans les 20 minutes pour fixer un rdv avec toi. Une fois sur place, il te fera un devis définitif que tu seras libre d'accepter ou non. Si tu n'acceptes pas le devis, aucun frais bancaire ne te sera prélevé.
							</p>
							<div class="bouton" >
								<%= link_to "COMMANDER", 'formulaire' %>
							</div>
						</div>
					</div>
				</div>

				<div id="description">

					<H2> NOTRE ANALYSE</H2>

					<h4> FUITE DU TUYAU DU LAVE-LINGE / LAVE-VAISSELLE </h4>

						<p>
						Attention ! Si le problème vient directement de la machine, nous ne pourrons rien y faire. Il faudra te tourner vers un vendeur d’électroménager (si tu es encore assuré, n’hésites pas à te faire rembourser ou échanger ta machine) <br/>

						Si le problème vient de la tuyauterie derrière, alors cela rentre dans notre domaine d’activité. C’est un problème classique en plomberie et nos professionnels te répareront cela en moins de 2 heures. <br/>

						Le problème peut venir de différents endroits :
						<ul>
							<li>- Du raccord</li>
							<li>- De l’écrou</li>
							<li>- Du tuyau de vidange</li>
							<li>- De l’embout d’alimentation</li>
							<li>- Du joint</li>
							<li>- Ou du tuyau d’alimentation (qu’il faudrait alors remplacer)</li>
						</ul>

						Notre plombier identifiera le problème et te fera un devis plus précis sur place. </p>

				</div>

			</section>
