
<!-- L'entonnoire -->


			<nav class="ento">
				<h1>D'où vient le problème ?</h1>

				<nav id="three">
					<div class="search"><a href="portail.html"> Toilettes </a></div>
					<div class="search"><a href="portail.html"> Chaudière / Chauffe-eau </a></div>
					<div class="search"><a href="portail.html"> Lavabo / Evier </a></div>
					<div class="search"><%= link_to "Tuyau de : Machine à laver / Lave vaisselle", 'p5r' %></div>
					<div class="search"><a href="portail.html"> Douche / Baignoire </a></div>
					<div class="search"><a href="portail.html"> Colonne générale d'immeuble (tout est bouché) </a></div>
					<div class="search"><a href="portail.html"> Autre </a></div>

				</nav>
			</nav>
